.comida-oriental {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 4rem;
    flex-wrap: wrap; 
    padding: 1rem;
    padding-top: 6rem;
}

.infor-comida {
    width: 500px;
}

.infor-comida h1{
    margin-bottom: 21px;
}

.infor-comida p{
    text-align: left;
    font-family: var(--font-conteudo);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 45px;
}

.infor-comida button{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--red);
    font-family: var(--font-conteudo);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.img-sushi > img {
    width: 100%;
    max-width: 300PX;
}