:root {
    --font-base: "DM Sans",sans-serif;
    --primary-color: #FBFBFB;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --bg-menu: #e5e5e5ae;
    --brown-color: #46364a;
    --white-color: #fff;
}

body {
    background: var(--primary-color);
}

header {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  background-color: var(--primary-color);
    justify-content: space-between;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}


.image-logo {
    width: 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
 
}



.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-base);
  } 



.link {
    cursor: pointer;
    font-family: var(--font-base);
    color: var(--gray-color);
    flex-direction: column;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.link:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}


.mobile-menu {
    display: none;
    padding: 10px;
    
    color: var(--white-color);
    border-radius: 3rem;
}

.mobile-menu > img {
    
    height: 88%;
    width: 86%;
} 


 @media (max-width: 800px) {
    body {
        overflow-x: hidden;
      }
      
      .nav-list {
        position: fixed;
        top: 10vh;
        right: 0;
        width: 0;
        height: 60vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* transform: translateX(0%); */
        transition:  0.3s ease-in;
        background-image: url('https://joaobagvanji-portfolio.netlify.app/static/media/bgWhite.79658cadae50b3b16ee5.png');
        background: var(--white-color);
        backdrop-filter: blur(4px);
    
      } 
      
      
    .nav-list li {
      margin-top: 1.5rem;
      opacity: 0;
    }
    
    .mobile-menu {
        align-items: center;
        
        border-radius: 50%;
        display: flex;
        height: 46px;
        justify-content: center;
        position: relative;
        width: 46px;
    }
    }
    
    
    .nav-list.active {
    
    background-color: var(--primary-color);
    background-repeat: repeat;
    background-size: cover;
    bottom: 0;
    box-shadow: 0 0 20px hsl(0deg 0% 66% / 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    padding: 1rem;
    z-index: 5;
     
      width: 100%;
     }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .btn-header {
        padding: 10px 60px ;
        border-radius: 10px;
        border: 1px solid;
        font-family: var(--font-conteudo);
        background-color: #FFF;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    } 


/* .header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 50px;
    font-size: 20px;
}

.navegacao{
    display: flex;
    gap: 100px;
}

.navegacao ul{
    display: flex;
    align-items: center;
    gap: 90px;
    font-family: var(--font-conteudo);
}

.btn-header {
    padding: 10px 60px ;
    border-radius: 10px;
    border: 1px solid;
    font-family: var(--font-conteudo);
    background-color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
} */